<div class="grid-container">
    <div class="grid-x">
        <div class="cell small-12">
            <div class="grid-x align-justify">
                <div class="cell small-4 medium-6">
                    <a href="" class='logo'>
                        ИЦ “СКОЛКОВО”
                        <br>
                        ГОРОДСКОЙ ПОРТАЛ
                    </a>
                </div>
                <div class="cell small-7 medium-shrink">
                    <div class="person-info">
                    <a href="#persontpage" class='person-link'>Александр Филатов</a>
                    <br>
                    <div class="parking-status parking-status--warning">
                        Истекает аренда через 3 дня
                    </div></div>
                </div>
            </div>
        </div>
        <div class="cell small-12">
            <app-search></app-search>
        </div>
    </div>
    <app-main-menu></app-main-menu>
</div>
