<div class="item-list grid-x large-up-3 medium-up-2">
    <div class="item cell large-4">
        <a class="tile">
            <div class="tile__preview">
                <img src="/assets/img/img-1.png" alt="">
            </div>
            <div class="tile__title">Открытие нового объекта “Лестница в небо”</div>
            <div class="tile__type">событие</div>
        </a>
    </div>
    <div class="item cell large-4">
        <a class="tile">
            <div class="tile__preview">
                <img src="/assets/img/img-2.png" alt="">
            </div>
            <div class="tile__title">20 новых детских площадок появилось в Сколково</div>
            <div class="tile__type">событие</div>
        </a>
    </div>
    <div class="item cell large-4">
        <div class="tile event-list">
            <a href="#" class='event'>
                <span class="icon-calendar"></span>
                <span>16.10.16</span> <span class="timeout">через 3 дня</span>
                <br>
                Конференция по информационной безопасности
            </a>
            <a href="#" class='event'>
                <span class="icon-calendar"></span>
                <span>17.10.16</span> <span class="timeout">через 4 дня</span>
                <br> через 4 дня
                Озеленение территории
                ИЦ “Сколково”

            </a>
            <a href="#" class='event'>
                <span class="icon-calendar"></span>
                <span>17.10.16</span> <span class="timeout">через 3 дня</span>
                <br>
                Food-фестиваль и красивой музыки “Food Fest 16”
            </a>
            <a href="#" class='all-events'>Остальные события</a>
            <div class="tile__type">события</div>
        </div>
    </div>
    <div class="item cell large-4 ">
        <a class="tile dark">
            <div class="tile__preview">
                <img src="/assets/img/img-3.png" alt="">
            </div>
            <div class="tile__title">Открытие нового объекта “Лестница в небо”</div>
            <div class="tile__type">реклама</div>
        </a>
    </div>
    <div class="item cell large-4">
        <a class="tile">
            <div class="tile__preview">
                <img src="/assets/img/img-4.png" alt="">
            </div>
            <div class="tile__title">Открытие нового объекта “Лестница в небо”</div>
            <div class="tile__type">событие</div>
        </a>
    </div>
    <div class="item cell large-4">
        <a class="tile">
            <div class="tile__preview">
                <img src="/assets/img/img-5.png" alt="">
            </div>
            <div class="tile__title">Открытие нового объекта “Лестница в небо”</div>
            <div class="tile__type">событие</div>
        </a>
    </div>
</div>